body{
	font-family: 'Karla', sans-serif;
}

img{
	height: 30vh;
	clear: both;
	margin-top: 5vh;
}

input{
	width: 80vw;
	padding: auto 5vw;
	height: 10vh;
	line-height: 10vh;
	font-size: 5vh;
	margin: 5vh auto;
	outline: none;
	border: 1vh solid #009D90;
	color: #009D90;
	text-align: center;
}

button{
	outline: none;
	border: none;
	background: #009D90;
	color: white;
	height: 5vh;
	line-height: 5vh;
	font-size: 3vh;
	width: 60vw;
	margin: 2vh;
}

button:hover{
	background: #1a1a1a;
}

div#output{
	width: 90vw;
	line-height: 5vh;
	font-size: 3vh;
	text-align: left;
	color: #009D90;
	margin-top: 5vh;
}

h2{
	font-weight: bold;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 5vh;
	line-height: 10vh;
}